
@{
    ViewData["Title"] = "Contact";
}


<html>
<head>
   
    <link href="~/css/contact.css" rel="stylesheet" type="text/css">

</head>

<body>





    <div id="image-container">
        <img id="image-background" src="~/assets/images/background/bg1.jpg" alt="Background Image" />
        <div class="image-text">
            <h1 id="main-heading">Contact & About</h1>

            <div class="second-parent-container">

                        <div class="box">
                            <h1 class="box-child">
                                Contact Us
                            </h1>
                            <p>
                                The website was written by []
                                To get in contact please email <a>Link to your email address</a>
                            </p>


                        </div>
                    <div class="box">
                        <h1 class="box-child">
                            About Us
                        </h1>
                        <p class="p-wrap">
                            This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra.
                            This site is built on the ASP.NET CORE framework and
                            employs Bootstrap responsive design techniques.


                        </p>

                    </div>
                  
                    <div class="box">
                        <h1 class="box-child">
                            Copyright
                        </h1>

                        <div class="p-container">
                        <p>
                            All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a> .

                        </p>

                        <p>
                            The icons for the footer from <a href="https://fontawesome.com/">fontawesome</a> .
                        </p>

                        <p>
                            The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts</a> .
                        </p>

                        <p>
                            The AI jobs dataset from <a href="https://ai-jobs.net/">Insights</a> .
                        </p>


                        <p>
                            The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a> .
                        </p>

                        <p>
                            The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/">Real Python</a> .
                        </p>
                        </div>
                        

                       

                    </div>
                   
              

               

               

            </div>
        </div>
    </div>




</body>



</html>







