
@{
    ViewData["Title"] = "GenAI";
}



<html>
<head>
    

    <link href="~/css/genai.css" rel="stylesheet" type="text/css">
</head>

<body>
   




    <div id="image-container">
        <img id="image-background" src="~/assets/images/background/bg5.jpg" alt="Background Image" />
        <div class="image-text" id="etai">
            <h1 id="main-heading">GenAI Tools</h1>
            <div class="second-parent-container">
              
                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/chatgpt_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/bard_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/midjourney_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/dalle_thumbnail.jpg" />
                </div>


            </div>



        </div>
    </div>


    <div id="image-container">
        <img id="image-background" src="~/assets/images/background/bg6.jpg" alt="Background Image" />
        <div class="image-text" id="etcc">
            <h1 id="main-heading2">GenAI Organisations</h1>
            <div class="second-parent-container">

                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/ms_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/google_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/ibm_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/amazon_thumbnail.jpg" />
                </div>


            </div>



        </div>
    </div>


    <div id="image-container">
        <img id="image-background" src="~/assets/images/background/bg7.jpg" alt="Background Image" />
        <div class="image-text" id="etiot">
            <h1 id="main-heading2">GenAI Applications</h1>
            <div class="second-parent-container">

                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/chatgpt_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/githubcopilot_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/dalle_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/synthesia_thumbnail.jpg" />
                </div>


            </div>



        </div>
    </div>


</body>



</html>




