@{
    ViewData["Title"] = "Home Page";

}


@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<html>
<head>

        <link href="~/css/main.css" rel="stylesheet" type="text/css"  >

</head>

<body>
    <div class="video-container">
        <video loop muted preload="auto" autoplay="autoplay" class="video">
            <source src="~/assets/videos/video.mp4" type="video/mp4" />
        </video>
        <div id="overlay"></div>
        <h1 id="main-heading">Generative AI Technology</h1>
        <div id="text-below-heading">
            Any time an AI technology is generating something on its own, it can be referred to as "generative AI." This umbrella term includes learning algorithms that make predictions as well as those that can use prompts to autonomously write articles and paint pictures.<br>
            Techopedia
        </div>
    </div>
        

   

    <div id="image-container">
        <img id="image-background" src="~/assets/images/background/bg2.jpg" alt="Background Image"/>
        <div id="image-text">
            <div class="second-parent-container">
                <div class="inner-text-container">
                    <h2 class="text-colour">GENAI Tools</h2>
                    <p>
                        Generative AI tools refer to software or systems that use neural network techniques to process and comprehend input data, subsequently producing meaningful responses.
                        Scribehow
                        <span class="read-more" >
                            <a href="/Home/GenAI/#etai" class="a-tag" >
                                Read more
                           </a> 
                           
                        </span>
                    </p>

                    
                </div>

                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/bard_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/midjourney_thumbnail.jpg" />
                </div>

               
            </div>


            <div class="second-parent-container">

                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/ms_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/google_thumbnail.jpg" />


                </div>
                <div class="inner-text-container">
                    <h2 class="text-colour">GenAI Organizations</h2>
                    <p>
                        Generative AI Organizations like Microsoft, Google, Amazon and IBM have invested hundreds of millions of dollars and massive compute power to build the foundational models on which services like ChatGPT and others depend.
                        Gartner

                        <span class="read-more">
                            <a href="/Home/GenAI/#etcc" class="a-tag">
                                Read more
                            </a>

                        </span>
                    </p>


                </div>

                


            </div>


            <div class="second-parent-container">
                <div class="inner-text-container">
                    <h2 class="text-colour">GenAI Applications</h2>
                    <p class="inner-paragraph">
                       Text : <span class="inner-span">GPT-3, LaMDA, LLaMA,BLOOM, and GPT-4</span>
                       
                    </p>


                    <p class="inner-paragraph">
                        Code : <span class="inner-span">OpenAI Codex</span>

                    </p>

                    <p class="inner-paragraph">
                        Images : <span class="inner-span">DALL-E, Midjourney and Stable Diffusion.</span>
                    </p>


                    <p class="inner-paragraph">
                        Videos : <span class="inner-span">Make-A-Video (Meta Platforms).</span>
                    </p>

                    <span class="wikipedia">
                        Wikipedia
                        <span class="read-more">
                            <a href="/Home/GenAI/#etiot" class="a-tag">
                                Read more
                            </a>

                        </span>
                      
                    </span>
                </div>

                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/chatgpt_thumbnail.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/dalle_thumbnail.jpg" />
                </div>


            </div>


            <div class="second-parent-container">

                <div class="inner-boxes">
                    <img src="~/assets/images/genaisites/pie.jpg" />

                    <img class="inner-box" src="~/assets/images/genaisites/job.jpg" />


                </div>
                <div class="inner-text-container">
                    <h2 class="text-colour">AI Jobs</h2>
                    <p>
                        The prime source for jobs and talents in AI, ML, Data Science and Big Data:<a href="https://ai-jobs.net/"> Insights AI-Jobs</a>
                        Python source for tables and charts: <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>

                        <span class="read-more">
                            <a href="/Home/Jobs" class="a-tag">
                                Read more
                            </a>

                        </span>
                    </p>


                </div>

            </div>


           
            <div class="second-parent-container1">
                <div class="listofgenai">

                    <h1 class="text-colour">List of Generative AI Websites</h1>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <p>  <a class="auth-a-tag" asp-area="" asp-controller="GenAI" asp-action="Create" >Click here to add a new generative AI website</a></p>
                    }
                    else
                    {

                        
                        <p>Please <a class="auth-a-tag" asp-area="Identity" asp-page="/Account/Login"> login</a> or <a class="auth-a-tag" asp-area="Identity" asp-page="/Account/Register">register</a> to add a new generative AI website</p>
                    }

              
                </div>
            </div>

               
           
        </div>

    </div>

</body>



</html>


