html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}





.custom-margin {
    margin-bottom: -70px;
    padding:0px;
    
}

.custom-margin-1{
    margin-top:25px
}